.popupConfirmation{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.popupConfirmation .helper{
    display:inline-block;
    height:50%;
    vertical-align:middle;
}
.popupConfirmation > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
/* .triggerPopup {
    cursor: pointer;
    margin: 20px;
    display: inline-block;
} */

.popupButtons {
    display: inline-flex;
    padding: 1rem;
}

.popupConfirmButton {
    padding-left: 1rem;
}

.search-bar{
    width: 50%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.searchBtn {
    margin-bottom: 4px;
}

tr {
    line-height: 50px;
}
tr  i {
    color: var(--primary-color);
}

.page-link {
    color: black;
}