<footer class="footer">
    {% block footer %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-col">
          <h4>Transparencia</h4>
          <ul>
            <li><a href="#">Organigrama</a></li>
            <li><a href="#">Municipalidad</a></li>
          </ul>
        </div>
      </div>
        <div class="col">
          <div class="footer-col">
          <h4>Servicios al vecino</h4>
          <ul>
            <li><a href="#">Centros comunales</a></li>
            <li><a href="#">Centros de atención</a></li>
          </ul>
        </div>
      </div>
        <div class="col">
        <div class="footer-col">
          <h4>Redes sociales</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      </div>
    </div>
    {% endblock %}
  </footer>